<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>课程详细信息</title>
    <link rel="stylesheet" type="text/css" href="../static/css/general.css">
    <link rel="stylesheet" type="text/css" href="../static/css/course.css">
    <!-- <script src="../static/js/iscroll.js">//控制滚动</script> -->
    <!-- <script src="../static/js/jquery-3.2.1.min.js">//jquery轻量版</script> -->
    <script defer="true" type="text/javascript" src="../static/js/course.js"></script>
    <script defer="true" type="text/javascript" src="../static/js/general.js"></script>
</head>

<body>
<div class="top_bar">
    <div class="top_bar_content">
        <div class="logo_container">
                <span>
                    <a href="home.html"><img class="logo" src="../static/pic/logo_s.png"></a>
                </span>
            <div class="clean"></div>
        </div>
        <div class="container">
            <p class="home">
                <a href="/">首页</a>
            </p>
        </div>
        <div class="container">
            <form class="search" action="/s" method="get">
                <input type="text" name="search" id="search" placeholder="输入课程关键词进行检索…">
                <button type="submit">检索</button>
            </form>
        </div>
        <div class="usr_container">
                <span>
                    <img src="../static/pic/user.jpg" width="35px" height="35px">
                </span>
            <p class="uname">孤独的根号三</p>
        </div>
        <div class="clean"></div>
    </div>
</div>
<div id="menu">
    <ul>
        <li><a href="/home"><span class="home-icon"></span>我的主页</a>
        </li>
        <li>
            <a href="/setting"><span class="setting-icon"></span>设置</a>
        </li>
        <li>
            <a href="/logout"><span class="logout-icon"></span>退出</a>
        </li>
    </ul>
</div>
<div class="content_div">
    <div class="course_info">
        <h3>{{c_info['title']}}</h3>
        <h4>{{c_info['title_eng']}}</h4>
        <h4>课程号:{{course_id}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 学分：{{c_info['credit']}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            类别:<a href="/course_type/{{c_info['type'][0]}}">{{c_info['type']}}</a>
        </h4>
        <h4>先修课程：{{c_info['precourse']}}</h4>
        <h4>授课语言：{{c_info['language']}}</h4>
        <h4>课程简介：</h4>
        <p>
            {{c_info['description']}}
        </p>
        <h4>English Introduction：</h4>
        <p>
            {{c_info['description_eng']}}
        </p>
        <h4>课程基本目的：</h4>
        <p>{{c_info['goal']}}</p>
        <h4>教学方式：</h4>
        <p>{{c_info['t_method']}}</p>
        <h4>提要及学时分配：</h4>
        <p>
            {{c_info['plan']}}
        </p>
        <h4>成绩评定办法：</h4>
        <p>{{c_info['score']}}</p>
        <h4>课程教材：</h4>
        <p>{{''.join(b_info['textbook'])}}</p>
        <h4>参考书：</h4>
        <p>{{''.join(b_info['reference'])}}</p>
    </div>
    <div class="clean"></div>
    <!-- <button id="fulltext" onclick="show_fulltext()">查看全部介绍</button> -->
    <!-- <script>
    let show_fulltext = function() {
        var btn = document.getElementById('fulltext');
        let show_height = document.documentElement.clientHeight * 0.4;
        let course_div = document.getElementsByClassName('course_info')[0];
        let total_height = course_div.scrollHeight; //文章总高度
        if (btn.textContent == "收起详情介绍……") {
            course_div.style.height = show_height + 'px';
            btn.textContent = "查看全部介绍……";
        } else {
            course_div.style.height = total_height + 'px';
            btn.textContent = "收起详情介绍……";
        }
    };
    </script> -->
    <div class="comments_div">
        <h4>{{c_info['title']}}的短评（<span class="total_num"><a href="">共20条</a></span>）
        </h4>
        <button class="btn" id="comment_btn">我要写短评</button>
        <div class="clean"></div>
        <div class="item">
            <p class="username">孤独的根号三</p><span class="time">（2017-04-29）</span>
            <div class="clean"></div>
            <p class="content">这课很好，老师很有意思，能学到很多东西。</p>
        </div>
        <div class="item">
            <p class="username">孤独的根号三</p><span class="time">（2017-04-29）</span>
            <div class="clean"></div>
            <p class="content">这课很好，老师很有意思，能学到很多东西。</p>
        </div>
        <div class="item">
            <p class="username">孤独的根号三</p><span class="time">（2017-04-29）</span>
            <div class="clean"></div>
            <p class="content">这课很好，老师很有意思，能学到很多东西。</p>
        </div>
        <h5><a href="/comments/{{course_id}}">>>更多20条</a></h5>
    </div>
    <div class="experience_div">
        <h4>{{c_info['title']}}的经验（<span class="total_num"><a href="">共20条</a></span>）</h4>
        <button class="btn" id="experience_btn">我要写经验</button>
        <div class="clean"></div>
        <div class="item">
            <p class="username">孤独的根号三</p><span class="rating1"></span><span class="time">（2017-04-29）</span>
            <div class="clean"></div>
            <p class="content">此处有经验若干字，取固定长度后面加……这课很好，老师很有意思，能学到很多东西。……<a href="">>更多</a></p>
        </div>
        <div class="item">
            <p class="username">孤独的根号三</p><span class="rating2"></span><span class="time">（2017-04-29）</span>
            <div class="clean"></div>
            <p class="content">此处有经验若干字，取固定长度后面加……这课很好，老师很有意思，能学到很多东西。……<a href="">>更多</a></p>
        </div>
        <div class="item">
            <p class="username">孤独的根号三</p><span class="rating41"></span><span class="time">（2017-04-29）</span>
            <div class="clean"></div>
            <p class="content">此处有经验若干字，取固定长度后面加……这课很好，老师很有意思，能学到很多东西。……<a href="">>更多</a></p>
        </div>
        <h5><a href="/experience/{{course_id}}">>>更多20条</a></h5>
    </div>
    <div class="files_div">
        <h4>{{c_info['title']}}的资料（<span class="total_num"><a href="">共20条</a></span>）</h4>
        <button class="btn" id="file_btn">我要传资料</button>
        <div class="clean"></div>
        <div class="item">
            <p class="username">孤独的根号三</p><span class="time">（2017-04-29）</span>
            <div class="clean"></div>
            <div class="clean"></div>
            <p class="file_url"><a href="">悖论研究历年考题.zip</a></p>
        </div>
        <div class="item">
            <p class="username">孤独的根号三</p><span class="time">（2017-04-29）</span>
            <div class="clean"></div>
            <p class="file_url"><a href="">悖论研究历年考题.zip</a></p>
        </div>
        <div class="item">
            <p class="username">孤独的根号三</p><span class="time">（2017-04-29）</span>
            <div class="clean"></div>
            <p class="file_url"><a href="">悖论研究历年考题.zip</a></p>
        </div>
        <h5><a href="/files/{{course_id}}">>>更多20条</a></h5>
    </div>
</div>
<div class="bottom_bar">
    <p>
        <a class="link" href="mailto:xxx@xxx.com">反馈 </a>|<a class="link" href="/index.html" target="_blank">
        加入我们 </a>|<a class="link" href="mailto:xxx@xxx.com" target="_blank"> 联系我们</a>
    </p>
    <p>
        相关链接：<a class="link" href="http://course.pku.edu.cn" target="_blank"> 教学网 </a>|<a class="link"
                                                                                          href="http://elective.pku.edu.cn"
                                                                                          target="_blank"> 选课网 </a>|<a
            class="link" href="http://lib.pku.edu.cn" target="_blank"> 图书馆 </a>|<a class="link"
                                                                                   href="http://dean.pku.edu.cn"
                                                                                   target="_blank"> 教务网</a>
    </p>
    <p>Copyright©brink 2017 地址：北京大学信息管理系</p>
</div>
<div id="comment_form">
    <div class="top_bar dialog-bar">
        <h4 class="dialog-title">悖论研究的短评发布</h4>
        <span class="close"></span>
        <div class="clean"></div>
    </div>
    <div class="tip_div">
        <span>140字</span>
        <div class="clean"></div>
    </div>
    <div class="form_div">
        <form>
            <textarea name="comment" placeholder="在此输入你的短评"></textarea>
            <br/>
            <input type="submit" value="发表"/>
            <div class="clean"></div>
        </form>
    </div>
</div>
<div id="experience_form">
    <div class="top_bar dialog-bar">
        <h4 class="dialog-title">悖论研究的经验分享</h4>
        <span class="close"></span>
        <div class="clean"></div>
    </div>
    <div class="form_div">
        <form>
            <div class="rating">
                <span>课程评价：</span>
                <label>
                    <input name="rating" type="radio" value=""/>很差
                </label>
                <label>
                    <input name="rating" type="radio" value=""/>较差
                </label>
                <label>
                    <input name="rating" type="radio" value=""/>还行
                </label>
                <label>
                    <input name="rating" type="radio" value=""/>推荐
                </label>
                <label>
                    <input name="rating" type="radio" value=""/>力荐
                </label>
            </div>
            <div class="tip_div">
                <p>选课原因:</p>
            </div>
            <textarea name="reason" placeholder="在此输入你的选课原因..."></textarea>
            <br/>
            <div class="tip_div">
                <p>个人收获:</p>
            </div>
            <textarea name="gains" placeholder="在此输入你的学习收获..."></textarea>
            <br/>
            <div class="tip_div">
                <p>学习经验和考试注意:</p>
            </div>
            <textarea name="experience" placeholder="在此输入你的学习经验和考试注意..."></textarea>
            <br/>
            <input type="submit" value="发表"/>
            <div class="clean"></div>
        </form>
    </div>
</div>
<div id="file_form">
    <div class="top_bar dialog-bar">
        <h4 class="dialog-title">悖论研究的课程资料上传</h4>
        <span class="close"></span>
        <div class="clean"></div>
    </div>
    <div class="form_div">
        <form>
            <div class="center">
                <input type="file" name="file" id="file"/>
                <input type="submit" value="上传"/>
                <div class="clean"></div>
            </div>
        </form>
    </div>
</div>
</div>
</body>

</html>
