<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>课程清单</title>
    <link rel="stylesheet" type="text/css" href="../static/css/general.css">
    <link rel="stylesheet" type="text/css" href="../static/css/course_type.css">
    <script defer="true" type="text/javascript" src="../static/js/general.js"></script>
</head>

<body>
    <div class="top_bar">
        <div class="top_bar_content">
            <div class="logo_container">
                <span>
                    <a href="home.html"><img class="logo" src="../static/pic/logo_s.png"></a>
                </span>
                <div class="clean"></div>
            </div>
            <div class="container">
                <p class="home">
                    <a href="home.html">首页</a>
                </p>
            </div>
            <div class="container">
                <form class="search" action="" method="get">
                    <input type="text" name="search" id="search" placeholder="输入课程关键词进行检索…">
                    <button type="submit">检索</button>
                </form>
            </div>
            <div class="usr_container">
                <span>
                    <img src="../static/pic/user.jpg" width="35px" height="35px">
                </span>
                <p class="uname">孤独的根号三</p>
            </div>
            <div class="clean"></div>
        </div>
    </div>
    <div id="menu">
        <ul>
            <li><a href="/home"><span class="home-icon"></span>我的主页</a>
            </li>
            <li>
                <a href="/setting"><span class="setting-icon"></span>设置</a>
            </li>
            <li>
                <a href="/logout"><span class="logout-icon"></span>退出</a>
            </li>
        </ul>
    </div>
    <div class="content_div">
        <div class="classtype_choose">
            <ul>
                <li><a class="now" href="course.html">A</a></li>
                <li><a href="course.html">B</a></li>
                <li><a href="course.html">C</a></li>
                <li><a href="course.html">D</a></li>
                <li><a href="course.html">E</a></li>
                <li><a href="course.html">F</a></li>
            </ul>
        </div>
        <div class="course_table">
            <h1>A类 数学与自然科学</h1>
            <table class="table_c">
                <tr class="ji">
                    <td>大气概论</td>
                    <td>大气化学</td>
                    <td>保护生物学</td>
                </tr>
                <tr class="ou">
                    <td>地球环境与人类社会</td>
                    <td>地球历史概要</td>
                    <td>地史中的生命</td>
                </tr>
                <tr class="ji">
                    <td>地震概论</td>
                    <td>电子资源的检索与利用</td>
                    <td>公共物理学</td>
                </tr>
                <tr class="ou">
                    <td>功能化学</td>
                    <td>古今数学思想</td>
                    <td>海洋科学导论</td>
                </tr>
                <tr class="ji">
                    <td>化学与社会</td>
                    <td>环境材料导论</td>
                    <td>环境科学导论</td>
                </tr>
                <tr class="ou">
                    <td>环境伦理概论</td>
                    <td>环境生态学</td>
                    <td>今日物理</td>
                </tr>
                <tr class="ji">
                    <td>今日新材料</td>
                    <td>科学是什么</td>
                    <td>科学通史</td>
                </tr>
                <tr class="ou">
                    <td>矿产资源经济概论</td>
                    <td>理论物理导论</td>
                    <td>魅力化学</td>
                </tr>
                <tr class="ji">
                    <td>纳米科学前沿</td>
                    <td>普通生物学（A）</td>
                    <td>普通生物学（B）</td>
                </tr>
                <tr class="ou">
                    <td>普通生物学实验</td>
                    <td>普通统计学</td>
                    <td>全球环境变化</td>
                </tr>
                <tr class="ji">
                    <td>人类的性、生育与健康</td>
                    <td>人类生存发展与核科学</td>
                    <td>人类生存发展与环境保护</td>
                </tr>
                <tr class="ou">
                    <td>人类生物学导论</td>
                    <td>社会科学中的计算思维方法</td>
                    <td>生态学导论</td>
                </tr>
                <tr class="ji">
                    <td>生物进化论</td>
                    <td>世界文化地理</td>
                    <td>数值方法：原理、算法及应用</td>
                </tr>
                <tr class="ou">
                    <td>数字化艺术</td>
                    <td>太空探索</td>
                    <td>微电子学概论</td>
                </tr>
                <tr class="ji">
                    <td>物理宇宙学基础</td>
                    <td>系统与控制引论</td>
                    <td>现代天文学</td>
                </tr>
                <tr class="ou">
                    <td>心理学概论</td>
                    <td>演示物理学</td>
                    <td>遥感入门</td>
                </tr>
                <tr class="ji">
                    <td>医学发展概论</td>
                    <td>中国历史地理</td>
                    <td>中国自然地理</td>
                </tr>
                <tr class="ou">
                    <td>自然保护学</td>
                    <td>自然科学中的混沌和分形</td>
                    <td>自然资源与社会发展</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="bottom_bar">
        <p>
            <a class="link" href="/index.html" target="_blank">反馈 </a>|<a class="link" href="/index.html" target="_blank"> 加入我们 </a>|<a class="link" href="/index.html" target="_blank"> 联系我们</a>
        </p>
        <p>
            相关链接：<a class="link" href="http://course.pku.edu.cn" target="_blank"> 教学网 </a>|<a class="link" href="http://elective.pku.edu.cn" target="_blank"> 选课网 </a>|<a class="link" href="http://lib.pku.edu.cn" target="_blank"> 图书馆 </a>|<a class="link" href="http://dean.pku.edu.cn" target="_blank"> 教务网</a>
        </p>
        <p>Copyright©brink 2017 地址：北京大学信息管理系</p>
    </div>
</body>

</html>
