<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/css/general.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <script defer="true" type="text/javascript" src="../static/js/home.js"></script>
    <style type="text/css">
    body {
        background-color: white;
    }
    </style>
</head>

<body>
<div id="dialog">
    <div class="top_bar dialog-bar">
        <h4 class="dialog-title">用户登录</h4>
        <span class="close"></span>
        <div class="clean"></div>
    </div>
    <div class="form_div">
        <form action="/profile">
            <div class="input_div">
                <label>账号
                    <input type="text" name="username">
                </label>
            </div>
            <div class="input_div">
                <label>密码
                    <input type="password" name="username">
                </label>
            </div>
            <input class="submit_btn" type="submit" name="login" value="登录">
        </form>
    </div>
</div>
<div class="top_bar">
    <div class="top_btn_group">
        <button class="top_btn" id="login_btn">登录</button>
        <button onclick="location.href='mailto:xxx@xxx.com';" class="top_btn">联系我们</button>
        <button onclick="location.href='mailto:xxx@xxx.com';" class="top_btn">关于我们</button>
    </div>
    <div class="top_bar_content" style="display:none">
        <div class="usr_container">
                <span>
            <img src="../static/pic/user.jpg" width="35px" height="35px">
          </span>
            <p class="uname">孤独的根号三</p>
        </div>
    </div>
</div>
<div class="logo"><img src="../static/pic/title.png" alt="CoursesTalk">
</div>
<div class="search_box">
    <form method="get" action="/s">
        <input type="text" placeholder="输入课程关键词进行检索…" name="search">
        <input id="search_btn" type="submit" value="检索" name="search">
    </form>
    <div class="clean"></div>
</div>
<div class="box">
    <div class="cols">
        <p class="header">通知中心</p>
        <div class="notice">
            {%for news in news_lst %}
            <p class="text"><a title="{{news[0]}}{{news[2]}}" href="{{news[1]}}">
                {{news[2]}}
            </a></p>
            {%endfor%}
            <p class="more"><a href="http://dean.pku.edu.cn/pkudean/index.html">
                &gt;&gt;更多...
            </a></p>
        </div>
    </div>
    <div class="cols">
        <p class="header">课程目录</p>
        <div class="type">
            <p class="text"><a href="/course_type/A">
                A类 数学与自然科学
            </a></p>
            <p class="text"><a href="/course_type/B">
                B类 社会科学
            </a></p>
            <p class="text"><a href="/course_type/C">
                C类 哲学与心理学
            </a>
            </p>
            <p class="text"><a href="/course_type/D">
                D类 历史学
            </a></p>
            <p class="text"><a href="/course_type/E">
                E类 语言学、文学、艺术与美育
            </a></p>
            <p class="text"><a href="/course_type/F">
                F类 社会发展
            </a></p>
        </div>
    </div>
    <div class="cols">
        <p class="header">热门课程</p>
        <div class="popular">
            <p class="text"><a href="/course/01233170">
                地震概论
            </a></p>
            <p class="text"><a href="/course/03532260">
                中日文化交流史
            </a></p>
            <p class="text"><a href="/course/04331020">
                中外名曲赏析
            </a></p>
            <p class="text"><a href="/course/01231210">
                地球历史概要
            </a></p>
            <p class="text"><a href="/course/02132710">
                艺术史
            </a></p>
            <p class="text"><a href="/course/02939999">
                法律导论
            </a></p>
            <p class="more"><a href="/course_type/A">
                &gt;&gt;更多...
            </a></p>
        </div>
    </div>
    <div class="clean"></div>
</div>
<div class="bottom_bar" style="display: none;">
    <p>
        <a class="link" href="mailto:xxx@xxx.com">反馈 </a>|<a class="link" href="/index.html" target="_blank">
        加入我们 </a>|<a class="link" href="mailto:xxx@xxx.com" target="_blank"> 联系我们</a>
    </p>
    <p>
        相关链接：<a class="link" href="http://course.pku.edu.cn" target="_blank"> 教学网 </a>|<a class="link"
                                                                                          href="http://elective.pku.edu.cn"
                                                                                          target="_blank"> 选课网 </a>|<a
            class="link" href="http://lib.pku.edu.cn" target="_blank"> 图书馆 </a>|<a class="link"
                                                                                   href="http://dean.pku.edu.cn"
                                                                                   target="_blank"> 教务网</a>
    </p>
    <p>Copyright©brink 2017 地址：北京大学信息管理系</p>
</div>
</body>

</html>
