<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="../static/css/general.css">
    <link rel="stylesheet" href="../static/css/profile.css">
    <script defer="true" type="text/javascript" src="../static/js/general.js"></script>
</head>

<body>
    <div id="dialog">
    <div class="top_bar dialog-bar">
            <h4 class="dialog-title">个人资料修改</h4>
            <span class="close"></span>
            <div class="clean"></div>
    </div>
    <div class="form_div">
        <form action="">
            <div title="修改我的头像" class="change_photo">
                <div class="user_img">
                    <div class="overlay"><img src="../static/pic/user.jpg" width="120" height="120"></div>
                </div>
                <div class="user_content">
                    <span>修改我的头像</span>
                </div>
                <div class="clean"></div>
            </div>
            <div class="change_info">
                <div class="input_div">
                    <label for="nickname">昵称:
                    <input type="text" name="nickname"/>
                    </label>
                </div>
                <div class="input_div">
                    <span>性别:</span>
                    <label><input type="radio" name="sex" value="male">
                    男</label>
                    <label><input type="radio" name="sex" value="female">
                    女</label>
                </div>
                <input type="submit" name="save" value="保存">
            </div>
                <div class="clean"></div>

        </form>

        </div>
    </div>
    <div class="top_bar">
        <div class="top_bar_content">
            <div class="logo_container">
                <span>
                    <a href="home.html"><img class="logo" src="../static/pic/logo_s.png"></a>
                </span>
                <div class="clean"></div>
            </div>
            <div class="container">
                <p class="home">
                    <a href="home.html">首页</a>
                </p>
            </div>
            <div class="container">
                <form class="search" action="" method="get">
                    <input type="text" name="search" id="search" placeholder="输入课程关键词进行检索…">
                    <button type="submit">检索</button>
                </form>
            </div>
            <div class="usr_container">
                <span>
                    <img src="../static/pic/user.jpg" width="35px" height="35px">
                </span>
                <p class="uname">孤独的根号三</p>
            </div>
            <div class="clean"></div>
        </div>
    </div>
    <div id="menu">
        <ul>
            <li><a href="/home"><span class="home-icon"></span>我的主页</a>
            </li>
            <li>
                <a href="/setting"><span class="setting-icon"></span>设置</a>
            </li>
            <li>
                <a href="/logout"><span class="logout-icon"></span>退出</a>
            </li>
        </ul>
    </div>
   <div class="main">
   <div class="content_div">
  <div class="bread">
            <a href="home.html">首页</a>&gt;&gt;<a href="profile.html">个人中心页</a>
            </div>
            <div class="profile">
                <div class="photo"><img src="../static/pic/user.jpg" width="100" height="100"></div>
                <div class="info">
                    <ul>
                        <li>孤独的根号三</li>
                        <li>真实姓名：赖老师</li>
                        <li>信息管理系</li>
                    </ul>
                </div>
                <div class="editinfo">
                    <button class="edit_btn">编辑个人信息</button>
                </div>
            </div>
        </div>
        <div class="content_div">
            <div class="box">
                <div class="header">
                    <div class="history">
                        <button class="tab_btn">选课历史</button>
                    </div>
                    <div class="recommend">
                        <button class="tab_btn">课程推荐</button>
                    </div>
                    <div class="experience">
                        <button class="tab_btn">经验分享</button>
                    </div>
                </div>
                <div class="innerbox_his">
                    <p>我的选课历史</p>
                    <table>
                        <th>课程名</th>
                        <th>课程类别</th>
                        <th>学分</th>
                        <tr>
                            <td>地震概论</td>
                            <td>A</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>地震概论</td>
                            <td>A</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>地震概论</td>
                            <td>A</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>地震概论</td>
                            <td>A</td>
                            <td>2</td>
                        </tr>
                    </table>
                    <p>仍需选修D、E、F类课程</p>
                </div>
                <div class="innerbox_recommand">
                    <table>
                        <th>课程名</th>
                        <th>课程类别</th>
                        <th>学分</th>
                        <th>推荐</th>
                        <tr>
                            <td>人类的性、生殖与健康</td>
                            <td>A</td>
                            <td>2</td>
                            <td>4.7</td>
                        </tr>
                        <tr>
                            <td>法律导论</td>
                            <td>B</td>
                            <td>2</td>
                            <td>4.5</td>
                        </tr>
                        <tr>
                            <td>地震概论</td>
                            <td>A</td>
                            <td>2</td>
                            <td>4.3</td>
                        </tr>
                        <tr>
                            <td>全球环境问题</td>
                            <td>A</td>
                            <td>2</td>
                            <td>4.8</td>
                        </tr>
                    </table>
                </div>
                <div class="innerbox_experience">
                    <h4>我的经验分享</h4>
                    <table class="text">
                        <th>课程名</th>
                        <th>分享经验</th>
                        <th>上传资料</th>
                        <tr>
                            <td>人类的性、生殖与健康</td>
                            <td>非常有意思的一门课<span>(2017-4-29)</span></td>
                            <td>三宝历年考试题.pdf</td>
                        </tr>
                        <tr>
                            <td>法律导论</td>
                            <td>最后一次法导课</td>
                            <td>法导复习提纲.pdf</td>
                        </tr>
                        <tr>
                            <td>地震概论</td>
                            <td>北大第一水课</td>
                            <td>地概计算题整理.pdf</td>
                        </tr>
                        <tr>
                            <td>全球环境问题</td>
                            <td>非常无聊的一节课</td>
                            <td>全球环境问题讲义整理.pdf</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="reminder"><span class="close"></span>
                <h3 class="reminder_head">提醒</h3>
                <p class="reminder_content">你还需要选修4门课程</p>
            </div>
        </div>
    </div>
    <div class="bottom_bar">
        <p>
            <a class="link" href="/index.html" target="_blank">反馈 </a>|<a class="link" href="/index.html" target="_blank"> 加入我们 </a>|<a class="link" href="/index.html" target="_blank"> 联系我们</a>
        </p>
        <p>
            相关链接：<a class="link" href="http://course.pku.edu.cn" target="_blank"> 教学网 </a>|<a class="link" href="http://elective.pku.edu.cn" target="_blank"> 选课网 </a>|<a class="link" href="http://lib.pku.edu.cn" target="_blank"> 图书馆 </a>|<a class="link" href="http://dean.pku.edu.cn" target="_blank"> 教务网</a>
        </p>
        <p>Copyright©brink 2017 地址：北京大学信息管理系</p>
    </div>
</body>

</html>
