<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>搜索结果页</title>
    <link rel="stylesheet" type="text/css" href="../static/css/general.css">
    <link rel="stylesheet" type="text/css" href="../static/css/s.css">
    <script defer="true" type="text/javascript" src="../static/js/general.js"></script>
</head>

<body>
    <div class="top_bar">
        <div class="top_bar_content">
            <div class="logo_container">
                <span>
                    <a href="home.html"><img class="logo" src="../static/pic/logo_s.png"></a>
                </span>
                <div class="clean"></div>
            </div>
            <div class="container">
                <p class="home">
                    <a href="home.html">首页</a>
                </p>
            </div>
            <div class="container">
                <form class="search" action="" method="get">
                    <input type="text" name="search" id="search" placeholder="输入课程关键词进行检索…">
                    <button type="submit">检索</button>
                </form>
            </div>
            <div class="usr_container">
                <span>
                    <img src="../static/pic/user.jpg" width="35px" height="35px">
                </span>
                <p class="uname">孤独的根号三</p>
            </div>
            <div class="clean"></div>
        </div>
    </div>
    <div id="menu">
        <ul>
            <li><a href="/home"><span class="home-icon"></span>我的主页</a>
            </li>
            <li>
                <a href="/setting"><span class="setting-icon"></span>设置</a>
            </li>
            <li>
                <a href="/logout"><span class="logout-icon"></span>退出</a>
            </li>
        </ul>
    </div>
    <div class="content_div">
        <div class="bread"><a href="homepage.html">首页</a >&gt;&gt;<a href="s.html">搜索结果页</a ></div>
        <div class="result_number">共搜索到xx个结果：</div>
          <div class="search_result">
                <h3><a href="course.html" target="_blank">逻辑导论</a></h3>
            <p class="attribute">课程号:00131560 学分:2 类别: A.数学与自然科学</p>
            <p>nam fermentum, nulla luctus pharete vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
            <hr/>
            <h3><a href="course.html" target="_blank">地球历史概要</a></h3>
            <p class="attribute">课程号:00131560 学分:2 类别: A.数学与自然科学</p>
            <p>nam fermentum, nulla luctus pharete vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio kjsdh sdvkjzxv sdkvjjvn ,dsmvnejfhkj dkjsfhjv,.</p>
            <hr/>
            <h3><a href="/index.html" target="_blank">全球环境问题</a></h3>
            <p class="attribute">课程号:00131560 学分:2 类别: A.数学与自然科学</p>
            <p>nam fermentum, nulla <span class="highlight">fermentum</span> pharete vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio kjsdh sdvkjzxv sdkvjjvn ,dsmvnejfhkj dkjsfhjv,.</p>
            <hr/>
            <h3><a href="/index.html" target="_blank"><span class="highlight">地震概论</span></a></h3>
            <p class="attribute">课程号:00131560 学分:2 类别: A.数学与自然科学</p>
            <p>nam fermentum, nulla luctus pharete vulputate, felis tellus<span class="highlight">fermentum</span> orci, sed rhoncus sapien nunc eget odio kjsdh sdvkjzxv sdkvjjvn ,dsmvnejfhkj dkjsfhjv,.</p>
            <hr/>
            <h3><a href="/index.html" target="_blank">课程名称</a></h3>
            <p class="attribute">课程号:00131560 学分:2 类别: A.数学与自然科学</p>
            <p>nam fermentum, nulla luctus <span class="highlight">fermentum</span> vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio kjsdh sdvkjzxv sdkvjjvn ,dsmvnejfhkj dkjsfhjv,.</p>
            <hr/>
            <h3><a href="/index.html" target="_blank">课程名称</a></h3>
            <p>nam <span class="highlight">fermentum</span>, nulla luctus pharete vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio kjsdh sdvkjzxv sdkvjjvn ,dsmvnejfhkj dkjsfhjv,.</p>
            <hr/>
            <h3><a href="/index.html" target="_blank">课程名称</a></h3>
            <p class="attribute">课程号:00131560 学分:2 类别: A.数学与自然科学</p>
            <p>nam <span class="highlight">fermentum</span>, nulla luctus pharete vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio kjsdh sdvkjzxv sdkvjjvn ,dsmvnejfhkj dkjsfhjv,.</p>
            <hr/>
        </div>
        <div class="page_choose">第
            <a href="/index.html" target="_blank">1</a>
            <a href="/index.html" target="_blank">2</a>
            <a href="/index.html" target="_blank">3</a>
            <a href="/index.html" target="_blank">4</a>
            <a href="/index.html" target="_blank">5</a>
            <a href="/index.html" target="_blank">6</a>页
        </div>
    </div>
    <div class="bottom_bar">
        <p>
            <a class="link" href="/index.html" target="_blank">反馈 </a>|<a class="link" href="/index.html" target="_blank"> 加入我们 </a>|<a class="link" href="/index.html" target="_blank"> 联系我们</a>
        </p>
        <p>
            相关链接：<a class="link" href="http://course.pku.edu.cn" target="_blank"> 教学网 </a>|<a class="link" href="http://elective.pku.edu.cn" target="_blank"> 选课网 </a>|<a class="link" href="http://lib.pku.edu.cn" target="_blank"> 图书馆 </a>|<a class="link" href="http://dean.pku.edu.cn" target="_blank"> 教务网</a>
        </p>
        <p>Copyright©brink 2017 地址：北京大学信息管理系</p>
    </div>
</body>

</html>
